<launch>

  <node name="brs_sense_pwm" pkg="karcher" type="brs_sense_pwm" output="screen" />
  <node name="brs_left_wall_pwm" pkg="karcher" type="brs_left_wall_pwm" output="screen" />
  <node name="brs_right_wall_pwm" pkg="karcher" type="brs_right_wall_pwm" output="screen" />

  <node name="teleop_pwm" pkg="karcher" type="teleop_pwm" output="screen"/>

  <node pkg="rosserial_python" type="serial_node.py" name="serial_node">
  <param name="port" value="/dev/ttyACM0"/>
  <param name="baud" value="57600"/>
  </node>

  <node name="inc_rplidarNode"          pkg="inclined_lidar"  type="inc_rplidarNode">
  <param name="serial_port"         type="string" value="/dev/ttyUSB1"/>
  <param name="serial_baudrate"     type="int"    value="115200"/>
  <param name="frame_id"            type="string" value="laser"/>
  <param name="inverted"            type="bool"   value="false"/>
  <param name="angle_compensate"    type="bool"   value="true"/>
  </node>

  <node name="rplidar_node" pkg="rplidar_ros" type="rplidarNode">
    <param name="serial_port" type="string" value="/dev/ttyUSB0"/>
    <param name="serial_baudrate" type="int" value="115200"/>
    <param name="frame_id" type="string" value="laser"/>
    <param name="inverted" type="bool" value="false"/>
    <param name="angle_compensate" type="bool" value="true"/>
  </node>

  <param name="/ss_enable"        value="0"/> <!--0 is enabled, 1 will be disabled (sensing stopping)-->

  <param name="/new_stop_flat"      value="1"/>
  <param name="/new_stop_slant"     value="1"/>
    <param name="/stop_dist_flat_strt"     value="1.0"/> <!--/scan topic lidar sensing distance-->    
    <param name="/stop_dist_flat_left"    value="0.6"/>
    <param name="/stop_dist_flat_right"   value="0.6"/>
    <param name="/stop_dist_slant_strt"    value=".95"/> <!--/new_scan_far topic lidar sensing distance-->
    <param name="/stop_dist_slant_left"    value="0.85"/>
    <param name="/stop_dist_slant_right"   value="0.85"/>

  <param name="/ss_enable"        value="0"/>
  <!--<param name="/RID"              value = "5f297ce02b2e2b05d5a7dd78"/>ravi-->
  <param name="/RID"              value = "5fbb48e4a067fd10a5f3ec08"/> <!--siemens kalwa-->
</launch>
